body{padding-top: 40px; background: #eee}
.content{background: #fff;}
g.region:hover path{fill: #770077 !important;}
#map svg g.region>path:hover{fill: #770077 !important;}
#map.has-selected g.region>path{fill:black !important;stroke:white!important}
#map.has-selected g.region text{fill:white !important}
#map.has-selected g.region[origin="true"]>path{fill: green !important;}
#map.has-selected g.region[destination="true"]>path{fill: red !important;}
g.region[data-units="0"] tspan{display:none;}
g.region text{font-size:15px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans}
#connections path{fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.00000001, 3.00000005;stroke-dashoffset:0}
#mapframe path {fill-rule:evenodd;stroke:#000000;stroke-width:0.00500000000000000;stroke-miterlimit:10;fill:#4d6391;fill-opacity:1}
h1.game_name {
	font-family: 'Monsieur La Doulaise', cursive;
}
