body{
    padding-top: 40px; background: #eee
}

.content{
    background: #fff;
}

div.die{
	height: 50px;
	width: 50px;
}

table.clear-table {
	border: none;
}

table.clear-table td {
	border: none;
	padding: 1px;
}

#map svg g.region:hover>path{
    fill: #770077 !important;
}

#map.has-selected g.region>path{
    fill:black !important;stroke:white!important
}

#map.has-selected g.region text{
    fill:white !important
}

#map.has-selected g.region[origin="true"]>path{
    fill: green !important;
}

#map.has-selected g.region[destination="true"]>path{
    fill: #ff7f00 !important;
}

#map.show-mine g.region[is-mine="true"]>path{
    fill: blue !important;
}

#map.show-mine g.region[is-mine="false"]>path{
    fill: red !important;
}

#map g.region[valid-selection="true"]>path{
	fill: lime !important;
}

g.region[data-units="0"] tspan{
    display:none;
}

g.region text{
    font-size:13px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans;-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:default;
}

g.region[data-owner="-1"] circle{stroke: black; fill:white; opacity:0; filter:alpha(opacity=0);
}
g.region[data-owner="0"] circle{stroke: black; fill:yellow;
}
g.region[data-owner="1"] circle{stroke: black; fill:pink;
}
g.region[data-owner="2"] circle{stroke: black; fill:red;
}
g.region[data-owner="3"] circle{stroke: black; fill:white;
}
g.region[data-owner="4"] circle{stroke: black; fill:orange;
}
g.region[data-owner="5"] circle{stroke: black; fill:blue;
}



#connections path{
    fill:none;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.00000001, 3.00000005;stroke-dashoffset:0
}

#mapframe path {
    fill-rule:evenodd;stroke:#000000;stroke-width:0.00500000000000000;stroke-miterlimit:10;fill:#4d6391;fill-opacity:1
}

h1.game_name {
    
    font-family: 'Monsieur La Doulaise', cursive;
    
}
