<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Multiplayr - {% endblock %}</title>

	<script src="/static/3rdparty/jquery.min.js"></script>
	<script src="/static/3rdparty/bootstrap-dropdown.min.js"></script>
	<script src="/static/3rdparty/handlebars.min.js"></script>
	<script type="text/javascript" src="/static/base.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/3rdparty/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Arizonia|Monsieur+La+Doulaise' rel='stylesheet' type='text/css'>
    <link href="/static/base.css" rel="stylesheet">
{% raw %}
	<script id="active-games-dropdown-template" type="text/x-handlebars-template">
		{{#if games}}
		{{#each games}}
		<li>
			<a href="{{this.uri}}">
			{{this.type}} (Waiting for {{this.currentPlayer}})
			</a>
		</li>
		{{/each}}
		{{else}}
		<li><a href='#'>No active games</a></li>
		{{/if}}
	</script>
{% endraw %}
{% block head %}
{% endblock %}
  </head>

	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<a class="brand" href="/">Multiplayr</a>
						<ul class="nav">
							{% block nav %}
								<li><a href="/lobby/">Lobby</a><li>
								{% if profile %}
								<li class="dropdown" data-dropdown="dropdown">
									<a href="#" class="dropdown-toggle">
										Active Games (
										<span id='active-games-await'>0</span>)
									</a>
									<ul class="dropdown-menu" id="active-games-dropdown">
									</ul>
								</li>
								{% endif %}
							{% endblock %}
						</ul>
					<ul class="nav secondary-nav">
						{% if profile %}
						<li id="session" class="dropdown" data-dropdown="dropdown">
							<a href="#" class="dropdown-toggle">
								<img src="{{profile.gravatar_url()|safe}}" />
								<span id="profile-name">{{profile.name}}</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{uri_for('profile-edit')}}">Settings</a></li>
								<li><a href="#">Help</a></li>
								<li class="divider"></li>
								<li><a href="{{auth.create_logout_url('/')}}">Sign Out</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

{% block container %}
<div class="container">

  <div class="content">
{% block content %}
{% endblock %}
  </div>

  <footer>
{% block footer %}
{% endblock %}
  </footer>

</div> <!-- /container -->
{% endblock %}
</body>
</html>
