<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.min.js"></script>
	<script src="/static/handlebars.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
{% block head %}
{% endblock %}
  </head>

	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<a class="brand" href="/">Conquest</a>
						<ul class="nav">
							{% block nav %}
								<li><a href="/lobby/">Lobby</a><li>
							{% endblock %}
						</ul>
					<ul class="nav secondary-nav">
						{% if profile %}
						<li id="session" class="dropdown" data-dropdown="dropdown">
							<a href="#" class="dropdown-toggle">
								<img src="{{profile.gravatar_url()|safe}}" />
								<span id="profile-name">{{profile.name}}</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{uri_for('profile-edit')}}">Settings</a></li>
								<li><a href="#">Help</a></li>
								<li class="divider"></li>
								<li><a href="{{auth.create_logout_url('/')}}">Sign Out</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

{% block container %}
<div class="container">

  <div class="content">
{% block content %}
{% endblock %}
  </div>

  <footer>
{% block footer %}
{% endblock %}
  </footer>

</div> <!-- /container -->
{% endblock %}
</body>
</html>
