{% extends "base.html" %}

{% block head %}
<script>
	function joingame(event){
		$.post("#", {action:"join"},
		function(data){
			if (data.success)
				location.reload();
		}, "json");
		event.preventDefault();
	}
	function startgame(event){
		$.post("#", {action:"start"},
		function(data){
			if (data.success)
				location.reload();
		}, "json");
		event.preventDefault();
	}
	$(document).ready(function(){
		$("#joingame").click(joingame);
		$("#startgame").click(startgame);
	})
</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span5">
		<h2>Participants</h2>
		<ul>
			{% for user in game.players %}
			<li>{{user.nickname()}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="span11">
{% block state_view %}
	{% if game.state == "open" %}
		{% block open_state_view %}
			The game is open to new players
		{% endblock %}
	{% elif game.state == "playing" %}
		{% block playing_state_view %}
			The game is playing
		{% endblock %}
	{% elif game.state == "finished" %}
		{% block finished_state_view %}
			The game is finished
		{% endblock %}
	{% endif %}
{% endblock %}
	</div>
</div>
<div class="well">
	<a class="btn" href="{{ uri_for('lobby') }}">Return To Lobby</a>
	{% if game.state == "open" %}
	<a class="btn" href="#" id="joingame">Join</a>
	<a class="btn" href="#" id="startgame">Start</a>
	{% endif %}
	{% if game.state == "playing" %}
	<a class="btn" href="{{ uri_for('gameplay', game_id=game.key().id()) }}">Play</a>
	{% endif %}
</div>
{% endblock %}
