{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="span5">
		<h2>Participants</h2>
		<ul>
			{% for user in participants %}
			<li>{{user.nickname()}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="span11">
{% block state_view %}
	{% if game.state == "open" %}
		{% block open_state_view %}
			The game is open to new players
		{% endblock %}
	{% elif game.state == "playing" %}
		{% block playing_state_view %}
			The game is playing
		{% endblock %}
	{% elif game.state == "finished" %}
		{% block finished_state_view %}
			The game is finished
		{% endblock %}
	{% endif %}
{% endblock %}
	</div>
</div>
<div class="well">
	<a class="btn" href="{{ uri_for('lobby') }}">Return To Lobby</a>
	{% if game.state == "open" %}
	<a class="btn" href="{{ uri_for('joingame', game_id=game.key().id()) }}">Join</a>
	<a class="btn" href="{{ uri_for('startgame', game_id=game.key().id()) }}">Start</a>
	{% endif %}
</div>
{% endblock %}
