{% extends "base.html" %}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Multi-play!</h1>
        <p>Welcome to Multi-play, where you can play many different online mulitplayer gmaes</p>
        <p><a class="btn primary large" href="/lobby/">Lobby &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span5">
          <h2>Conquest</h2>
          <p>Battle your enemies and bring your foes to their knees in this exhilarating turn based conquest for world domination</p>
        </div>
        <div class="span5">
          <h2>Guess The Number</h2>
           <p>With co-operative and competitive gameplay, Guess The Number will have you on the edge of your seat as you stumble into ambiguity and try to snatch a random number from the jaws of the unknown</p>
       </div>
        <div class="span5">
          <h2>Naughts and Crosses</h2>
           <p>9 squares, 2 players and one winner (sometimes). Pit yourself against friends and family in this onine reimagining of the classic classroom game</p>
        </div>
      </div>
{% endblock %}
