{% extends "base.html" %}
{% block content %}
<table>
	<thead>
		<th>ID</th>
		<th>Players</th>
		<th>State</th>
		<th class="pull-right"></th>
	</thead>
	<tbody>
		{% for game in games %}
		<tr>
		<td>{{game.key().id()}}</td>
		<td>{{game.players|count}} of {{game.max_players}}</td>
		<td>{{game.state}}</td>
		<td style="text-align: right">
		<a class="btn info" href="{{ uri_for('gameinfo', game_id=game.key().id()) }}">View</a>
		</td>
		</tr>
		{% endfor %}
	</tbody>
<table>
<a class="btn" href="newgame">New Game</a>
{% endblock %}
