{% extends "base.html" %}
{% block content %}
{% for state, games in groupedGames %}
<h2>{{ state }}</h2>
<table>
	<thead>
		<th>ID</th>
		<th>Game Type</th>
		<th>Players</th>
		<th class="pull-right"></th>
	</thead>
	<tbody>
		{% for game in games %}
		<tr>
		<td>{{game.key().id()}}</td>
		<td>{{game.human_name}}</td>
		<td>{{game.players|count}} of {{game.max_players}}</td>
		<td style="text-align: right">
		<a class="btn info" href="{{ uri_for('gameinfo', game_id=game.key().id()) }}">View</a>
		{% if game.state == 'playing' %}
		<a class="btn primary" href="{{ uri_for(game.play_redirect, game_id=game.key().id()) }}">Play</a>
		{% endif %}
		</td>
		</tr>
		{% endfor %}
	</tbody>
<table>
{% else %}
	<div class="alert-message info">
		<p><strong>Sorry!</strong> No Games have been created yet</p>
	</div>
{% endfor %}
	<a class="btn" href="{{ uri_for('newgame') }}">New Game</a>
{% endblock %}
