{% extends "play.html" %}

{% block head %}
{{ super() }}
<link rel=StyleSheet href="/static/conquest.css" type="text/css">
<script src="/static/board/conquest.js"></script>
<script src="/static/Dice/diceRoll.js"></script>
<script src="http://jquery-simpletip.googlecode.com/files/jquery.simpletip-1.3.1.pack.js"></script>

{% raw %}
{% endraw %}
{% endblock %}

{% block sidebar %}
{{ super() }}
<div id="controls-place">
	<div id="dice-holder">
		<div>
			<a href="#" id="start">START</a>
			<a href="#" id="stop">STOP</a>
			<a href="#" id="test">TEST</a>
		</div>
		<table class="clear-table">
			<tr id="attackDice">
				<td><div class="die" id="attackDie1"></div></td>
				<td><div class="die" id="attackDie2"></div></td>
				<td><div class="die" id="attackDie3"></div></td>
			</tr>
			<tr id="defenceDice">
				<td><div class="die" id="defenceDie1"></div></td>
				<td><div class="die" id="defenceDie2"></div></td>
			</tr>
		</table>
	</div>
	<div id="place-controls">
		<a id="place" class="btn primary" href="">Place</a>
	</div>
	<div id="reinforce-controls">
		<a id="reinforce" class="btn primary" href="">Reinforce</a>
	</div>
	<div id="attack-controls">
		<a id="attack" class="btn primary" href="">Attack</a>
	</div>
	<div id="attack_victory-controls">
		<a id="attack_victory" class="btn primary" href="">Move a unit after a attack</a>
	</div>
	<div id="fortify-controls">
		<a id="move" class="btn primary" href="">Fortify</a>
	</div>
	<a id="end_phase" class="btn danger" href="">End Phase</a>
</div>
{% endblock %}

{% block content %}

<div id="map"></div>


<div id="results"/>
{% endblock %}
