{% extends "fluid.html" %}

{% block head %}
<script>
	function refresh_state(event){
		$.get("", {action:"state"},
		function(data){
			$(".current-player").text(data["current_player"]);
			$(document).trigger("new-state", data);
		}, "json");
	}

	$(document).ready(function(){
		$(document).on("refresh-state", refresh_state);
		$(document).trigger("refresh-state");
		$("#refresh-state").click(function(event){
			$(document).trigger("refresh-state");
			event.preventDefault();
		});
	})
</script>
{% endblock %}

{% block sidebar %}
<dl>
	<dt>Current Player</dt>
	<dd class="current-player"></dd>
</dl>
<h2>Players</h2>
<ul id="player-list">
	{% for player in game.players %}
	<li>{{ player.nickname() }}</li>
	{% endfor %}
</ul>
<a id="refresh-state" class="btn" href="#">Refresh State</a>
{% endblock %}

{% block content %}
{% endblock %}
