{% extends "play.html" %}

{% block head %}
{{ super() }}
<style type="text/css">
	body{padding-top: 40px; background: #eee}
	.content{background: #fff;}
	.sidebar div{background: #fff; padding: 4px; border: 1px solid #bbb; margin-top: 4px;}
	#map{background: #7799ee;}
	g.region:hover path{fill: #770077 !important;}
	g.continent>path:hover{fill: #770077 !important;}
	g.region[data-units="0"] tspan{display:none;}
</style>
<script>
	if ($.templates == null)
		$.templates = {};

	function update_from_state(event, state){
		$("#last-guess").text(state["current_number"]);
	}

	function process_action(event, action){
		var template = $.templates.guess_result;
		if(action["new_state"]!=null)
			template = $.templates.guess_win_result;
		var r_message = $(template(action));
		$("#results").prepend(r_message);
		r_message.hide().slideDown(400);
	}
	
	function prepmap() {
		$('#map g.region').click(function() {
			$.game.trigger("region-select", $(this))
		});
		
		$('#map g.region').attr("data-owner", -1);
		$('#map g.region').attr("data-units", 0);
		$('#map g.region tspan').text("0");
		
	};
	
	$(document).ready(function() {
		$('#map').load('/static/board/map.svg', prepmap);
		
		$.game.on("region-select", function(event, region){
			alert($(region).attr("id"))
		})
	});
</script>
{% raw %}
<script id="guess-template" type="text/x-handlebars-template">
<div class="alert-message">
	Go {{dir}} than {{guessed_number}}.
</div>
</script>
<script id="win-template" type="text/x-handlebars-template">
<div class="alert-message">
	{{player}} won with {{guessed_number}}.
</div>
</script>
{% endraw %}
{% endblock %}

{% block content %}

<div id="map"/>

<div id="results"/>
{% endblock %}
