{% extends "fluid.html" %}

{% block head %}
<link href="/static/play.css" rel="stylesheet" type='text/css' />
<script src="/static/playbase.js"></script>
<script src="/static/play.js"></script>
{% raw %}
<script id="player-list-template" type="text/x-handlebars-template">
	{{#each players}}
	<li class="player {{#if this.active}}active{{/if}} {{#if this.is_me}}me{{/if}}" data-owner="{{this.play_index}}">
		<div>
		<img class="avatar" src="{{this.gravatar_url}}"/>
		<span class="nickname">{{this.nickname}}</span>
		</div>
	</li>
	
	{{/each}}
</script>
{% endraw %}
{% endblock %}

{% block sidebar %}
<div class="block debug"> 
	<h3>Debug</h3>
<dl>
	<dt>Game State</dt>
	<dd class="current-state"></dd>
</dl>
<span id="refresh-timer"></span><br />
<a id="refresh" class="btn" href="#">Force update</a>
<a id="stop-refresh" class="btn" href="#">Stop updates</a>
</div>
<div class="block">
<h3>Players</h3>
<ul id="player-list">
</ul>
</div>
{% endblock %}

{% block content %}
{% endblock %}
