{% extends "play.html" %}
{% block title %}{{ super() }}Naughts and Crosses{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/play_ox.js"></script>
{% raw %}
<script id="guess-template" type="text/x-handlebars-template">
<div class="alert-message">
	Go {{dir}} than {{guessed_number}}.
</div>
</script>
<script id="win-template" type="text/x-handlebars-template">
<div class="alert-message">
	{{player}} won with {{guessed_number}}.
</div>
</script>
<style type="text/css">
	.ox-grid {
		margin-left:auto;
		margin-right:auto;
		width:300px;
	}
	.ox-grid .cell {
		height:60px;
		border:1px solid #333;
		margin-left:0;
		background:#eee;
		text-align:center;
		font-size:80px;
		padding-top:40px;
	}
</style>
{% endraw %}
{% endblock %}

{% block content %}
<div class="ox-grid">
	<div class="row">
		<div class="span2 cell" position="0">1</div>
		<div class="span2 cell" position="1">2</div>
		<div class="span2 cell" position="2">3</div>
	</div>
	<div class="row">
		<div class="span2 cell" position="3">4</div>
		<div class="span2 cell" position="4">5</div>
		<div class="span2 cell" position="5">6</div>
	</div>
	<div class="row">
		<div class="span2 cell" position="6">7</div>
		<div class="span2 cell" position="7">8</div>
		<div class="span2 cell" position="8">9</div>
	</div>
</div>
{% endblock %}
