{% extends "play.html" %}
{% block title %}{{ super() }}Conquest{% endblock %}

{% block head %}
{{ super() }}
<link rel=StyleSheet href="/static/conquest.css" type="text/css">
<link href='/static/3rdparty/jquery-ui.css' rel='stylesheet' type='text/css'>


<script src="/static/3rdparty/jquery-ui.min.js"></script>
<script src="/static/3rdparty/bootstrap-modal.min.js"></script>
<script type="text/javascript" src="/static/3rdparty/bootstrap-alerts.min.js"></script>
<script type="text/javascript" src="/static/3rdparty/bootstrap-twipsy.min.js"></script>
<script type="text/javascript" src="/static/3rdparty/bootstrap-popover.min.js"></script>
<script type="text/javascript" src="/static/board/conquest_ui.js"></script>
<script type="text/javascript" src="/static/board/conquest.js"></script>
<script type="text/javascript" src="/static/dice/diceRoll.js"></script>
<script>
	$(function () {
	})
  </script>

{% raw %}
{% endraw %}
{% endblock %}
{% block sidebar %}
{{ super() }}
<div id="controls-place" class="block controls">
	<div id="place-controls" class="hide">
		<h3>Place</h3>
		You have <span class="unit-pool-count">0</span> units left to place.
		<a id="place" class="btn primary" href="#">Place
			<span href="#" class="helpButton" rel="popover" data-content="At the beginning of the game you are assigned troops to help you in your conquest. Place them wisely on your regions by simple clicking on regions. Remember to use them wisely!" data-original-title="Place"><img src="/static/images/helpButton.svg"/></span>
		</a>
	</div>
	<div id="reinforce-controls" class="hide">
		<h3>Reinforce</h3>
		You have <span class="unit-pool-count">0</span> units left to place.
		<a id="reinforce" class="btn primary" href="#">
		Reinforce
		<span href="#" class="helpButton" rel="popover" data-content="At the beginning of each turn you are given more troops based on how many regions and continents you own.  Simple click on a region to reinforce it with more units.  Once you are finished placing all your units click fortify." data-original-title="Fortify"><img src="/static/images/helpButton.svg"/></span>
		</a>
	</div>
	<div id="attack-controls" class="hide">
		<h3>Attack</h3>
		<div class="unit-move hide">
		<p>
		Attack the selected region with between
		<span class="move-min">1</span>
		and
		<span class="move-max">3</span>
		units.
		</p>
		<div class="move-unit-slider"></div>
		<p>
		Attacking with
		<span class="move-unit-text">1</span>
		units
		</p>
		</div>
		<a id="attack" class="btn primary" href="#">
		Attack 
		<span href="#" class="helpButton" rel="popover" data-content="<div>To attack select a region you own with 2 or more units adjacent to the region you would like to attack.  Then simple click on the target neighboring region. Choose the number of units to attack with on the slider above and click the attack button.  Good luck!</div>" data-original-title="How To Attack"><img src="/static/images/helpButton.svg"/></span>
		</span>
		<a id="end-attack" class="btn danger" href="#">
		End Phase
		<span href="#" class="helpButton" rel="popover" data-content="Once you have finished attacking completely click this button to move onto the next phase of the game." data-original-title="End Phase"><img src="/static/images/helpButton.svg"/></span>
		</a>
	</div>
	<div id="fortify-controls" class="hide">
		<h3>Fortify</h3>
		<div class="unit-move hide">
		<p>
		Move to the selected region between
		<span class="move-min">1</span>
		and
		<span class="move-max">3</span>
		units.
		</p>
		<div class="move-unit-slider"></div>
		<p>
		Moving
		<span class="move-unit-text">1</span>
		units.
		</p>
		</div>
		<a id="fortify" class="btn primary" href="#">
		Fortify
		<span href="#" class="helpButton" rel="popover" data-content="Select a region with excess units and then select a neighboring region you own. Choose how many units to move and then click fortify.  You only have one fortify move per turn so make it count!" data-original-title="Fortify"><img src="/static/images/helpButton.svg"/></span>
		</a>
		<a id="skip-fortify" class="btn danger" href="#">
		Skip
		<span href="#" class="helpButton" rel="popover" data-content="If you are happy with your unit placements you can skip you fortify phase." data-original-title="Skip Fortify"><img src="/static/images/helpButton.svg"/></span>
		</a>
	</div>
</div>
<div id="dice-holder" class="block controls hide">
	<h3>Dice</h3>
	<table class="clear-table">
		<tr id="attackDice">
			<td><div class="die" id="attackDie1"></div></td>
			<td><div class="die" id="attackDie2"></div></td>
			<td><div class="die" id="attackDie3"></div></td>
		</tr>
		<tr id="defenceDice">
			<td><div class="die" id="defenceDie1"></div></td>
			<td><div class="die" id="defenceDie2"></div></td>
		</tr>
	</table>
</div>
{% endblock %}

{% block content %}

<div id="map"></div>


<div id="results"/>
<div id="attack-victory-modal" class="modal hide fade">
	<div class="modal-header">
		<h3>Successful Attack</h3>
	</div>
	<div class="modal-body">
		<p>
		You must now move between
		<span class="move-min">_</span>
		and
		<span class="move-max">_</span>
		units to the captured region.
		</p>
		<h4>Move <span class="move-unit-text">_</span> units to the captured region.</h4>
		<div class="move-unit-slider"></div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Move there now!</a>
	</div>
</div>
{{super()}}
{% endblock %}
