{% extends "play.html" %}

{% block head %}
{{ super() }}
<script>
	if ($.templates == null)
		$.templates = {};

	function make_guess(event){
		var guess_val = $("#guess_input").val();

		$.post("", {action:"guess", guess:guess_val},
		function(data){
			$.game.process_action(data["action"]);
		}, "json");

		event.preventDefault();
		$("#guess_input").val("");
	}

	function update_from_state(event, state){
		$("#last-guess").text(state["current_number"]);
	}

	function process_action(event, action){
		var r_message = $($.templates.guess_result(action));
		$("#results").prepend(r_message);
		r_message.hide().slideDown(400);
	}

	$(document).ready(function(){
		// Load templates
		$.templates.guess_result = Handlebars.compile($("#guess-template").html());

		// Bind events
		$("#make_guess").click(make_guess);
		$(document).on("game.new-state", update_from_state);
		$(document).on("game.action-made", process_action);
	})
</script>
{% raw %}
<script id="guess-template" type="text/x-handlebars-template">
<div class="alert-message">
	Go {{dir}} than {{guessed_number}}.
</div>
</script>
{% endraw %}
{% endblock %}

{% block content %}
<div id="last-guess" class="alert-message">
</div>
<form>
	<fieldset>
		<legend>Make a Guess</legend>
		<label for="guess_input">Guess Number</label>
		<div class="input">
			<input class="xlarge" id="guess_input" size="4" type="text" />
		</div>
		<div class="actions">
			<button id="make_guess" class="btn primary">Make Guess</button>
		</div>
	</fieldset>
</form>
<div id="results"/>
{% endblock %}
