{% extends "play.html" %}
{% block title %}{{ super() }}Number Guessing{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/play_simple.js"></script>
{% raw %}
<script id="guess-template" type="text/x-handlebars-template">
<div class="alert-message">
	Go {{dir}} than {{guessed_number}}.
</div>
</script>
<script id="win-template" type="text/x-handlebars-template">
<div class="alert-message">
	{{player}} won with {{guessed_number}}.
</div>
</script>
{% endraw %}
{% endblock %}

{% block content %}
<div id="last-guess" class="alert-message">
</div>
<form>
	<fieldset>
		<legend>Make a Guess</legend>
		<label for="guess_input">Guess Number</label>
		<div class="input">
			<input class="xlarge" id="guess_input" size="4" type="text" />
		</div>
		<div class="actions">
			<button id="make_guess" class="btn primary">Make Guess</button>
		</div>
	</fieldset>
</form>
<div id="results"/>
{% endblock %}
